resources/stateMachines.yml
StatusChecker:
  name: ${self:custom.aws.stepFunction.statusChecker.name}
  definition:
    StartAt: DelayTheChecking
    States:
      DelayTheChecking:
        Type: Wait
        Seconds: 120
        Next: CheckStatus

      CheckStatus:
        Type: Task
        Resource:
          Fn::GetAtt: [checkStatusFunc, Arn]
        ResultPath: $.result
        Retry:
          - ErrorEquals:
              - jobNotFinished
            IntervalSeconds: 30
            BackoffRate: 1
            MaxAttempts: 34
        Catch:
          - ErrorEquals:
              - States.ALL
            ResultPath: $.error
            Next: NotifyResult
        Next: NotifyResult

      NotifyResult:
        Type: Task
        Resource:
          Fn::GetAtt: [notifyStatusFunc, Arn]
        End: true

Batcher:
  name: ${self:custom.aws.stepFunction.batcher.name}
  definition:
    StartAt: ExecuteAll
    States:
      ExecuteAll:
        Type: Map
        ItemsPath: $.commands
        MaxConcurrency: 3
        Next: NotifyAll
        Iterator:
          StartAt: ExecuteSingle
          States:
            ExecuteSingle:
              Type: Task
              Resource:
                Fn::GetAtt: [executeSingleFunc, Arn]
              ResultPath: $.triggerResult
              Catch:
                - ErrorEquals:
                    - States.ALL
                  ResultPath: $.error
                  Next: NotifySingle
              Next: DelayTheChecking

            DelayTheChecking:
              Type: Wait
              Seconds: 120
              Next: CheckSingle

            CheckSingle:
              Type: Task
              Resource:
                Fn::GetAtt: [checkSingleFunc, Arn]
              ResultPath: $.target
              Retry:
                - ErrorEquals:
                    - jobNotFinished
                  IntervalSeconds: 20
                  BackoffRate: 1
                  MaxAttempts: 81
              Catch:
                - ErrorEquals:
                    - States.ALL
                  ResultPath: $.error
                  Next: NotifySingle
              Next: NotifySingle
            NotifySingle:
              Type: Task
              ResultPath: null
              Resource:
                Fn::GetAtt: [notifySingleFunc, Arn]
              End: true

      NotifyAll:
        Type: Task
        Resource:
          Fn::GetAtt: [notifyAllFunc, Arn]
        End: true

BuildAndDeployer:
  name: ${self:custom.aws.stepFunction.buildAndDeployer.name}
  definition:
    StartAt: ExecuteAll
    States:
      ExecuteAll:
        Type: Map
        ItemsPath: $.commands
        MaxConcurrency: 1
        Catch:
          - ErrorEquals:
              - States.ALL
            ResultPath: $.error
            Next: NotifyAll
        Next: NotifyAll
        Iterator:
          StartAt: ExecuteSingle
          States:
            ExecuteSingle:
              Type: Task
              Resource:
                Fn::GetAtt: [executeSingleFunc, Arn]
              ResultPath: $.triggerResult
              Next: DelayTheChecking

            DelayTheChecking:
              Type: Wait
              Seconds: 120
              Next: CheckSingle

            CheckSingle:
              Type: Task
              Resource:
                Fn::GetAtt: [checkSingleFunc, Arn]
              ResultPath: $.target
              Retry:
                - ErrorEquals:
                    - jobNotFinished
                  IntervalSeconds: 20
                  BackoffRate: 1
                  MaxAttempts: 81
              Next: NotifySingle
            NotifySingle:
              Type: Task
              ResultPath: null
              Resource:
                Fn::GetAtt: [notifySingleFunc, Arn]
              End: true

      NotifyAll:
        Type: Task
        Resource:
          Fn::GetAtt: [notifyAllFunc, Arn]
        ResultPath: null
        End: true

BatchBuildAndDeployer:
  name: ${self:custom.aws.stepFunction.batchBuildAndDeployer.name}
  definition:
    StartAt: ExecuteAll
    States:
      ExecuteAll:
        Type: Map
        ItemsPath: $
        MaxConcurrency: 3
        Next: NotifyAll
        Iterator:
          StartAt: BuildAndDeploySingle
          States:
            BuildAndDeploySingle:
              Type: Map
              ItemsPath: $.commands
              MaxConcurrency: 1
              Catch:
                - ErrorEquals:
                    - States.ALL
                  ResultPath: $.error
                  Next: FinishSingleBuildAndDeploy
              Next: FinishSingleBuildAndDeploy
              Iterator:
                StartAt: ExecuteSingle
                States:
                  ExecuteSingle:
                    Type: Task
                    Resource:
                      Fn::GetAtt: [executeSingleFunc, Arn]
                    ResultPath: $.triggerResult
                    Next: DelayTheChecking

                  DelayTheChecking:
                    Type: Wait
                    Seconds: 120
                    Next: CheckSingle

                  CheckSingle:
                    Type: Task
                    Resource:
                      Fn::GetAtt: [checkSingleFunc, Arn]
                    ResultPath: $.target
                    Retry:
                      - ErrorEquals:
                          - jobNotFinished
                        IntervalSeconds: 20
                        BackoffRate: 1
                        MaxAttempts: 81
                    Next: NotifySingle

                  NotifySingle:
                    Type: Task
                    ResultPath: null
                    Resource:
                      Fn::GetAtt: [notifySingleFunc, Arn]
                    End: true

            FinishSingleBuildAndDeploy:
              Type: Pass
              End: true

      NotifyAll:
        Type: Task
        Resource:
          Fn::GetAtt: [notifyAllFunc, Arn]
        End: true

Releaser:
  name: ${self:custom.aws.stepFunction.releaser.name}
  definition:
    StartAt: Release
    States:
      Release:
        Type: Map
        ItemsPath: $.batches
        MaxConcurrency: 1
        Catch:
          - ErrorEquals:
              - States.ALL
            ResultPath: $.error
            Next: NotifyRelease
        Next: NotifyRelease
        Iterator:
          StartAt: ExecuteSingleBatch
          States:
            ExecuteSingleBatch:
              Type: Map
              ItemsPath: $.commands
              MaxConcurrency: 3
              End: true
              Iterator:
                StartAt: ExecuteSingle
                States:
                  ExecuteSingle:
                    Type: Task
                    Resource:
                      Fn::GetAtt: [executeSingleFunc, Arn]
                    ResultPath: $.triggerResult
                    Next: DelayTheChecking

                  DelayTheChecking:
                    Type: Wait
                    Seconds: 120
                    Next: CheckSingle

                  CheckSingle:
                    Type: Task
                    Resource:
                      Fn::GetAtt: [checkSingleFunc, Arn]
                    ResultPath: $.target
                    Retry:
                      - ErrorEquals:
                          - jobNotFinished
                        IntervalSeconds: 20
                        BackoffRate: 1
                        MaxAttempts: 81
                    Next: NotifySingle
                  NotifySingle:
                    Type: Task
                    ResultPath: null
                    Resource:
                      Fn::GetAtt: [notifySingleFunc, Arn]
                    End: true
      NotifyRelease:
        Type: Task
        Resource:
          Fn::GetAtt: [notifyReleaseFunc, Arn]
        End: true