resources/status-checker.yml
StatusChecker:
  name: ${self:custom.aws.stepFunction.name}
  definition:
    StartAt: DelayTheChecking
    States:
      DelayTheChecking:
        Type: Wait
        Seconds: 5
        Next: CheckStatus

      CheckStatus:
        Type: Task
        Resource:
          Fn::GetAtt: [checkStatusFunc, Arn]
        ResultPath: $.result
        Retry:
          - ErrorEquals:
              - jobHangingError
            IntervalSeconds: 10
            BackoffRate: 1
            MaxAttempts: 2
        Catch:
          - ErrorEquals:
              - jobHangingError
            ResultPath: $.error
            Next: NotifyResult
        Next: NotifyResult

      NotifyResult:
        Type: Task
        Resource:
          Fn::GetAtt: [notifyStatusFunc, Arn]
        End: true
